<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>New User</title>
	<link rel="stylesheet" href="/welcome.css" type="text/css">
</head>

<body>


	<a href="/" class="home-icon">
        <i class="fa fa-home"></i> <!-- Replace with the actual path to your icon -->
    </a>

	<h1>Welcome To Recipe Finder</h1>
	<form id="newuser" action="/newuser" method="post">
		<label id="newN"><strong>UserName:</strong></label>
        <input type="text" name="newName" id="newName">
		<br>
		<br>
		<label id="newE"><strong>Email:</strong></label>
        <input type="email" name="newEmail" id="newEmail">
        <br>
        <input type="submit" value="Signup">
        <input type="reset">
		
	</form>
</body>

</html>

