<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>List of Recipes</title>
	<link rel="stylesheet" href="/welcome.css" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<a href="/" class="home-icon">
        <i class="fa fa-home"></i> 
    </a>
	<form action="/optionpage" method="post">
		
		
		<div id="Rec">
			<h1 id="listOfReci">List of Recipes</h1><br>

			<%- recipeList %>
	
			<!-- Dashwana in the varibale above you need to do something like the following -->
			<!-- <input type="checkbox" id = "hbp" name = "highBloodPressure" value="High Blood Pressure"> -->
			<!-- Make sure you have all the names of the checkboxes the same so that you can retrive the checked recipe by using request.body -->
			Enter a recipe you would like to add to your account. (Recipes will not be added if not seen above) <input type="text" id="recipeList" name="recipeList">
		

		<input type="submit" value="Search">
		</div>
	</form>
    

</body>

</html>

