<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Welcome To Recipe Finder</title>
	<base href="/">
	<link rel="stylesheet" href="/welcome.css" type="text/css">
</head>

<body>
	<h1>Welcome To Recipe Finder</h1>
	<form action="/">
		<input type="button" value ="New User" onclick="window.location.href='/newuser';">
		<input type="button" value="Returning User" onclick="window.location.href='/returninguser';">
	</form>
</body>

</html>
